@charset "utf-8";

html{
    font-size: 62.5%;/* 16px × 62.5% = 10px*/

}

body{
    color: #222222;
    font-family:"Open Sans",'ヒラギノ角ゴ ProN W3', Hiragino Kaku Gothic ProN, "メイリオ", Meiryo, sans-serif;
    font-size: 1.6rem;
}

img{
    max-width: 100%;
    height: auto;
}

.text-center{
    text-align: center;
}

.site-title{
    font-size:2.4rem;
    font-weight:bold;
}

.profile-wrapper{
    width: 1366px;
    margin: auto;


}